
.icon-stop:before { content: '\e800'; } /* '' */
.icon-comment-1:before { content: '\e801'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */
.icon-db-shape:before { content: '\f600'; } /* '' */