/*thead pegajoso para encabezados*/
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
}

/* Color de resaltado de la columna */
.highlight-column {
    background-color: #e0ccf4; 
}


/* ajustar columna al 100% */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Remarcado de renglones de la tabla*/
 td {   
    border: 1px solid #dddddd;
    text-align: left;
}
/*thead pegajoso para columnas*/
.sticky-col {
    position: sticky;
    left: 0;
}
