.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
}
@media (min-width: 576px) {
    .sticky-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #f8f9fa;
        border-bottom: 1px solid #e9ecef;
    }
}
.table  thead td  {
    vertical-align: middle;
    text-align: center;
}

/* Estilos para una tabla con bordes ligeros */
.table-bordered-light {
    border: 1px solid #e9ecef; /* Color del borde principal */
}

    .table-bordered-light th,
    .table-bordered-light td {
        border: 1px solid #e9ecef; /* Color del borde de las celdas */
    }

    /* Estilos adicionales para resaltar las celdas en hover */
    .table-bordered-light tbody tr:hover td {
        background-color: #f8f9fa; /* Color de fondo al pasar el ratón sobre la fila */
    }